@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
*{
    margin:0 px;
    padding:0 px;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}
body{
    background-image: url('../Assets/buywelcomeBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway',sans-serif;
    background-size: cover;
    background-position: center; 
    vertical-align: middle;
}




section{
    color:white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top:12px;
    margin-bottom:12px;
}
section>img{
    margin-right:18px;
    width:170px;
    height: 230px;
}
section>div>p{
    margin-bottom: 8px;
}
section>div>form{
    margin-top:8px;
}

span{
    font-weight:bold;
    font-size: 1rem;
}


input{
    margin-left:18px;
    height:2.5rem;
    font-weight: bold;
    font-size:1rem;
    width:20vw;
    color: white;
    background: rgba(0,0,0,0);
    font-family: 'Raleway',sans-serif;
    border: 1px solid white; 


}
#notLoggedIn{
    color:white;
    font-size:2rem;
    text-align: center;
    margin-top: 40px;
}
input:hover{
    opacity:0.6;
}
select{
    height: 2rem;
    font-size:1rem;
    width:30vw;
    border:1px solid black;
    background: white;
    text-align-last:center;
}
select>option{
    text-align: center;
}









@media only screen and (max-width:1250px){
   
    
}


@media only screen and (max-width:950px){
   
}

@media only screen and (max-width:950px){
    section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        box-sizing: border-box;
        margin-top:12px;
        margin-bottom:12px;
    }
    section>img{
        width:200px;
        height: 250px;
    }
    section>div{
        padding:10px;
    }
    section>div>p{
        margin-bottom: 4px;
        margin-top:4px;
    }
    section>div>form{
        margin-top:8px;
    }
    
    span{
        font-weight:bold;
        font-size: 1rem;
    }
    
    
    
    select{
        height: 2rem;
        font-size:1rem;
        width:90vw;
        display: block;
        text-align-last:center;
    }
    input{
        height:2rem;
        font-size:1rem;
        width:90vw;
        left:0px;
        font-family: 'Raleway',sans-serif;
        margin-left:0px;
        margin-top:8px;
    }
    
    
    
    
}

