@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway',sans-serif;
}
ul{
    width: 60vw;
    position: absolute;
    right:0px;
    top:0px;
    height: auto;
}
li{
    display: inline-block;
    width:15vw;
    height:10vh;
    padding-top:3.75vh;
    font-size:1.5rem;
    text-align: center;
}
li:hover{
    background: rgba(0,0,0,0.3);
}
li>a{
    color:white;
    font-weight: bold;
   
}
a:link{
    text-decoration: none;
}
header{
    width:100vw;
    height:10vh;
    left: 0px;
    right:0px;
    top:0px;
    background-color:rgba(255, 255, 255, 0.1);
}


@media only screen and (max-width:1250px){
    li{
        display: inline-block;
        width:15vw;
        height:6vh;
        padding-top:2vh;
        font-size:1.13rem;
        font-weight: bold;
        text-align: center;
    }
    header{
        width:100vw;
        height:6vh;
        left: 0px;
        right:0px;
        top:0px;
        background-color:rgba(255, 255, 255, 0.1);
    }
}


@media only screen and (max-width:950px){
        ul{
            width: 100vw;
            position: absolute;
            right:0px;
            top:0px;
            height: auto;
        }
    li{
        display: inline-block;
        width:25vw;
        height:6vh;
        padding-top:2vh;
        font-size:0.69rem;
        font-weight: bold;
        text-align: center;
    }
    header{
        width:100vw;
        height:6vh;
        left: 0px;
        right:0px;
        top:0px;
        background-color:rgba(255, 255, 255, 0.1);
    }
}

@media only screen and (max-width:400px){
    ul{
        width: 100vw;
        position: absolute;
        right:0px;
        top:0px;
        height: auto;
    }
    li{
        display: inline-block;
        width:25vw;
        height:6vh;
        padding-top:1vh;
        font-size:0.4rem;
        text-align: center;
    }
    header{
        width:100vw;
        max-width: 100%;
        height:5vh;
        left: 0px;
        right:0px;
        top:0px;
        background-color:rgba(255, 255, 255, 0.1);
    }
}

