@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
*{
    margin:0 px;
    padding:0 px;
    box-sizing: border-box;
}
body{
    background-image: url('../Assets/historyBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway',sans-serif;
    background-size: cover;
    background-position: center; 
    vertical-align: middle;
}


h1{
    font-size:3rem;
    color:white;
    padding:20px 4vw 20px 4vw;
}
h3{
    font-size: 2rem;
    padding:20px 4vw 20px 4vw; 
    color: white;
}


#noDetails{
    color:white;
    font-size: 1rem;
    padding: 20px 4vw 20px 4vw;

}
#notLoggedIn{
    color:white;
    font-size:2rem;
    text-align: center;
    margin-top: 40px;
}


#ticketDetails{
    width: 100vw;
    padding: 20px 4vw 20px 4vw;
    margin-top:20px;
    margin-bottom: 20px;
    background: rgba(0,0,0,0.3);
}

span{
    font-weight: bold;
}

#ticketDetails>p{
    color:white;
    font-size:1rem;
}



@media (max-width:450px){
    body{
        background-image: url("../Assets/smallHistorBackground.jpg")
    }
}