*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-image: url('../Assets/mainPHPBackground.jpg');
    background-repeat: no-repeat;
    background-color:black;
    background-attachment: fixed;
    font-family: 'Raleway',sans-serif;
    background-size: cover;
    background-position: center; 
}


ul{
    width: 60vw;
    background: red;
}
li{
    width:15vw;
    background:pink;
}

header{
    width:100vw;
    height:10vh;
    position: abosolute;
    left: 0px;
    right:0px;
    top:0px;
    background-color:rgba(255, 255, 255, 0.1);
}